.App {
  color: #282c34;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #fff;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #21dafb;
}

.Search-header, .Screen-content {
  padding: 40px;
}
.Screen-header, .Screen-content {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  padding-top: 40px;
}
.Sources-list {
  list-style-type:  none;
}
.Sources-list li {
  font-size: 1.2em;
  padding: 20px;
}
@media only screen and (max-width: 600px) {
  .Login-content,.Signup-content {
    background-color: #fff;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: calc(10px + 2vmin);
  }
  
  .Login-block,.Signup-block {
    text-align: center;
    flex: 3;
    width: 30ch
  }
  .Login-form, .Signup-form {
    flex: 2;
  }
  .Screen-header, .Screen-content {
    flex-direction: column;
  }
  .Screen-left {
    padding-top:0px;
    flex: 1;
    display:inline-flex;
  }
  .Screen-right {
    padding-top:5px;
    flex: 1;
  }}
@media only screen and (min-width: 600px) {
  .Login-content,.Signup-content {
    background-color: #fff;
    display: flex;
    min-height: 100vh;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: calc(10px + 2vmin);
  }  
  .Login-block,.Signup-block {
    text-align: center;
    flex: 3;
    width: 30ch
  }
  .Login-form, .Signup-form {
    flex: 2;
  }
  .Screen-left {
    padding-top:0px;
    flex: 3;
    display:inline-flex;
  }
  .Screen-right {
    padding-top:5px;
    flex: 2;
  }
}

.Button-group {
  display: inline-flex;
}
.Form-btns {
  float: right;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
